.favorites-wrapper {
    width: 100%;
}

.favorites-container {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -10px;
}

.grid-item {
    flex-basis: 25%;
    padding-left: 10px;
    margin-bottom: 16px;
}

.favorites-title {
    font-weight: bold;
    margin-top: 30px;
}